// light theme
$primary-blue-dark: #000217;
$secondary-blue-bright: #3065F8;
$text-color-light-theme: #7A7A7A;
$testimonial-shadow-light: #E3E5E8;


// dark theme
$primary-blue-dark-theme: #1C2431;
$secondary-blue-dark: #181F2A;
$secondary-cyan: #65E2D9;
$footer-bg: #0B1523;
$testimonial-bg: #202A3C;
$testimonial-shadow-dark: #0F1724;
$text-color-dark-theme: #CCCCCC;
$error-red: #FF4242;


$text-xl: 2.2rem;
$text-lg: 1.8rem;
$text-md: 1.3rem;
$text-nm: 1rem;
$text-sm: .9rem;
$text-xm: .85rem;

$gap-xl: 4rem;
$gap-lg: 3rem;
$gap-md: 2rem;
$gap-nm: 1rem;
$gap-sm: .5rem;

$max-screen: 1366px;

// Headings, Call-to-actions, Header Navigation
// Family: Raleway
// Weights: 400, 700

// Body
// Family: Open Sans
// Weights: 400, 700
